<section id="home">

<form action="/comment/<%= @comment[:id] %>" method="post">
	<textarea name="html"><%= @comment[:html] %></textarea>
	<input type="submit" value="update">
</form>

<div>
id: <%= @comment[:id] %>
</div>
<div>
uri: <%= @comment[:uri] %>
</div>
<div>
person_id: <a href="/person/<%= @comment[:person_id] %>"><%= @comment[:person_id] %></a>
</div>
<div>
created_at: <%= @comment[:created_at] %>
</div>
<div>
name: <%= @comment[:name] %>
</div>
<div>
email: <%= @comment[:email] %>
</div>
<div>
Person email_count: <%= (@comment[:person][:emails]) ? (@comment[:person][:emails].size) : 0 %>
</div>
<div>
Person created_at: <%= @comment[:person][:created_at] %>
</div>
<% if @comment[:person][:stats] %>
	<div>
	Person stats:
	<ul>
	<% @comment[:person][:stats].each do |s| %>
		<li><%= s[:created_at] %>: <%= s[:name] %> = <%= s[:value] %></li>
	<% end %>
	</ul>
	</div>
<% end %>

<form action="/comment/<%= @comment[:id] %>/delete" method="post"><input type="submit" value="delete"></form>
<form action="/comment/<%= @comment[:id] %>/spam" method="post"><input type="submit" value="spam"></form>

</section>
