<section id="showemail">

<div>
	<span class="big">
		<%=h @email[:their_email] %> 
		<%=h @email[:their_name] %>
	</span>
	(<a id="email_details_link" href="#" accesskey="d">show details</a>)
	(<a id="email_urls_link" href="#" accesskey="w">show urls</a>)
	<% if @email[:closed_at] %>
		closed_at: <%= @email[:closed_at] %> by <a href="/emailer/<%= @email[:closor][:id] %>"><%= @email[:closor][:name] %></a>
	<% end %>
</div>

<form id="emailform" data-id="<%= @email[:id] %>" action="/email/<%= @email[:id] %>" method="post">
		<textarea name="body"><%=h @email[:body] %></textarea>
		<input name="subject" class="longtext" value="<%=h @email[:subject] %>">
		<input type="submit" value="update">
</form>

<div id="replypieces" class="hidden">
<% @akformletters.each do |ak| %>
	<button accesskey="<%= ak[:accesskey] %>" data-ak="<%= ak[:accesskey] %>"><%= ak[:accesskey] %></button>
<% end %>
</div>
<script>
function getTxtFromKey(ak) {
	var formletters = {
<%= @akformletters.map {|ak| ak[:accesskey] + ': "' + ak[:body] + '"' }.join(",\n") %>
};
	return formletters[ak];
}

function addTxtToReply(txt) {
	var reply = document.getElementById('reply');
	if (reply.value.length > 0) {
		reply.value = reply.value + "\n\n";
	}
	reply.value = reply.value + txt;
	reply.focus();
}

function replyPieceClicked(e) {
	var ak = e.target.getAttribute('data-ak');
	var txt = getTxtFromKey(ak);
	if (txt) {
		addTxtToReply(txt);
	}
};
document.getElementById('replypieces').addEventListener('click', replyPieceClicked, false);
</script>

<div id="emaildetails" class="hidden">
	<form data-id="<%= @email[:id] %>" action="/email/<%= @email[:id] %>" method="post">
		<label>profile: <input name="profile" value="<%=h @email[:profile] %>"></label>
		<label>category: <input name="category" value="<%=h @email[:category] %>"></label>
		<input type="submit" value="update">
	</form>
	<p>headers:<br><%= h(@email[:headers]).gsub("\n", '<br>') %></p>

	<form action="/email/<%= @email[:id] %>" method="post">
		<input type="text" name="person_id" value="<%= @email[:person][:id] %>" size="5">
	<input type="submit" value="change person_id"></form>

	<% unless @email[:answer_id] || @email[:reference_id] %>
		<form action="/email/<%= @email[:id] %>/delete" method="post"><input type="submit" value="DELETE EMAIL"></form>
	<% end %>

	<p>accesskeys:</p>
	<ul>
<% @akformletters.each do |ak| %>
		<li><strong><%= ak[:accesskey] %></strong> = <%=h ak[:title] %></li>
<% end %>
		<li><strong>d</strong> = show/hide this</li>
		<li><strong>w</strong> = show/hide urls</li>
		<li><strong>n</strong> = [make new]</li>
		<li><strong>c</strong> = [close]</li>
		<li><strong>r</strong> = [reply]</li>
		<li><strong>u</strong> = add url input</li>
	</ul>

	<p>
		created_at: <%= @email[:created_at] %> by <a href="/emailer/<%= @email[:creator][:id] %>"><%= @email[:creator][:name] %></a><br>
		opened_at: <%= @email[:opened_at] %> by <a href="/emailer/<%= @email[:openor][:id] %>"><%= @email[:openor][:name] %></a>
	<% if @email[:closed_at] %>
		<br>closed_at: <%= @email[:closed_at] %> by <a href="/emailer/<%= @email[:closor][:id] %>"><%= @email[:closor][:name] %></a>
	<% end %>
	</p>
	<p>
	<% if @email[:attachments] %>
		attachments:
		<% @email[:attachments].each do |ea| %>
			<a href="/attachments/<%=h ea[:filename] %>"><%=h ea[:filename] %></a>
		<% end %>
	<% end %>
	<% if @email[:reference_id] %>
		reference: <a href="/email/<%= @email[:reference_id] %>"><%=h @email[:reference_id] %></a>
	<% end %>
	<% if @email[:answer_id] %>
		answer: <a href="/email/<%= @email[:answer_id] %>"><%=h @email[:answer_id] %></a>
	<% end %>
	</p>
</div>

<div id="emailurls" class="hidden">
<ul>
<% @email[:urls].each do |u| %>
	<li><a href="http://<%= u %>" target="_blank"><%=h u %></a></li>
<% end %>
</ul>
</div>

<% unless @email[:outgoing] != false %>
<div id="emailactions">
	<form action="/email/<%= @email[:id] %>/unread" method="post">
		<input type="submit" value="make new" accesskey="n">
	</form>

	<form action="/email/<%= @email[:id] %>/close" method="post">
		<input type="hidden" name="profile" value="<%= @email[:profile] %>">
		<input type="hidden" name="category" value="<%= @email[:category] %>">
		<input type="submit" value="close" accesskey="c">
	</form>

	<h3>Reply:</h3>
	<form id="replyform" action="/email/<%= @email[:id] %>/reply" method="post">
		<input type="hidden" name="profile" value="<%= @email[:profile] %>">
		<input type="hidden" name="category" value="<%= @email[:category] %>">
		<textarea name="reply" id="reply"></textarea>
		<input type="submit" value="reply" accesskey="r">
	</form>
</div>
<script>
document.getElementById('reply').focus();
</script>
<% end %>
</section>

<section id="showai">
<%= erb :ai %>
<hr>
<%= erb :_emails %>
</section>

<section id="showperson">
<%= erb :person %>
</section>

<script>
var link1 = document.getElementById('email_details_link');
var details = document.getElementById('emaildetails');
function showDetails(e) {
	e.preventDefault();
	details.removeAttribute('class');
	link1.removeEventListener('click', showDetails, false);
	link1.addEventListener('click', hideDetails, false);
	link1.innerHTML = 'hide details';
}
function hideDetails(e) {
	e.preventDefault();
	details.setAttribute('class', 'hidden');
	link1.removeEventListener('click', hideDetails, false);
	link1.addEventListener('click', showDetails, false);
	link1.innerHTML = 'show details';
}
link1.addEventListener('click', showDetails, false);

var link2 = document.getElementById('email_urls_link');
var urls = document.getElementById('emailurls');
function showUrls(e) {
	e.preventDefault();
	urls.removeAttribute('class');
	link2.removeEventListener('click', showUrls, false);
	link2.addEventListener('click', hideUrls, false);
	link2.innerHTML = 'hide urls';
}
function hideUrls(e) {
	e.preventDefault();
	urls.setAttribute('class', 'hidden');
	link2.removeEventListener('click', hideUrls, false);
	link2.addEventListener('click', showUrls, false);
	link2.innerHTML = 'show urls';
}
link2.addEventListener('click', showUrls, false);
</script>

