<section id="showemail">
<% @emails.each do |e| %>
	<h2><a href="/email/<%= e[:id] %>"><%= e[:created_at][0,10] %></a> <%=h e[:subject] %></h2>
	<p><%= h(e[:body]).gsub("\n", '<br>') %></p>
	<hr>
<% end %>
</section>

<section id="showai">
<%= erb :ai %>
<hr>
<%= erb :_emails %>
</section>

<section id="showperson">
<%= erb :person %>
</section>

<hr>
<section id="adminperson">
	<form action="/person/<%= @person[:id] %>/annihilate" method="post">
		<input type="submit" value="annihilate">
	</form>
</section>

