<section id="stats">
<h2><%=h @pagetitle %></h2>

<% if @valuecount.size > 0 %>
	<ul id="valuecount">
	<% @valuecount.each do |s| %>
		<li><a href="/stats/<%= @statkey %>/<%=h s[:value] %>"><%=h s[:value] %></a> (<%= s[:count] %>)</li>
	<% end %>
	</ul><hr>
<% end %>

<ul>
<% @stats.each do |stat| %>
	<li>
		<h3><%= '%s: <a href="/person/%d">%s</a> — %s' % [stat[:created_at], stat[:person][:id], h(stat[:person][:name]), stat[:person][:email]] %></h3>
		<p><%=h stat[:value] %></p>
	</li>
<% end %>
</ul>

</section>

