<section id="where">
<h1><%=h @pagetitle %></h1>

<table>
<% @cities.each do |c| %>
	<tr><td><%=h c[:city] %></td><td>
	<% if @state %>
		<a href="/where/<%= @country %>?city=<%=h c[:city] %>&amp;state=<%=h @state %>"><%= c[:count] %></a>
	<% else %>
		<a href="/where/<%= @country %>?city=<%=h c[:city] %>"><%= c[:count] %></a>
	<% end %>
	</td></tr>
<% end %>
</table>

<p>… or <a href="/where/<%= @country %>">ALL people in <%= @country %></a></p>

</section>
