<div class="row">
<div class="span8 offset4">

<h1><%= @pagetitle %></h1>

<% @topicnest.each do |topic, subtopics| %>
  <h2><%= topic %></h2>
  <% subtopics.each do |subtopic, questions| %>
    <h3><%= subtopic %></h3>
    <ul>
    <% questions.each do |q| %>
      <li><a href="/edit/essay/<%= @question_to_essay_map[q.id] %>"><%= q.question %></a></li>
    <% end %>
    </ul>
  <% end %>
<% end %>

</div>
</div>

