<section id="task">

<h1>Task from project: <%=h @task[:project][:title] %></h1>
<p><%=h @task[:project][:description] %></p>

<h2>Task facts:</h2>
<dl>
	<dt>order</dt>
	<dd><%= @task[:sortid] %></dd>
	<dt>title</dt>
	<dd><%=h @task[:title] %></dd>
	<dt>description</dt>
	<dd><%=h @task[:description] %></dd>
	<dt>progress</dt>
	<dd><%= @task[:progress] %></dd>
	<dt>created at</dt>
	<dd><%= @task[:created_at] %></dd>
	<dt>claimed at</dt>
	<dd><%= @task[:claimed_at] %></dd>
	<dt>started at</dt>
	<dd><%= @task[:started_at] %></dd>
	<dt>finished at</dt>
	<dd><%= @task[:finished_at] %></dd>
</dl>

<h2>Task actions:</h2>
<% if @task[:progress] == 'approved' %>
<form method="post" action="/unclaim/<%= @task[:id] %>">
	<input type="submit" value="unclaim">
</form>
<form method="post" action="/start/<%= @task[:id] %>">
	<input type="submit" value="start">
</form>
<% elsif @task[:progress] == 'started' %>
<form method="post" action="/finish/<%= @task[:id] %>">
	<input type="submit" value="finish">
</form>
<% end %>

<% if @task[:notes] %>
	<h3>Comments:</h3>
	<ul>
	<% @task[:notes].each do |note| %><li>
<%= erb(:_note, {locals: {note: note}, layout: false}) %>
	</li><% end %>
	</ul>
<% end %>

<h3>Comment on the task?</h3>
<form action="/task/<%= @task[:id] %>/notes" method="post">
	<textarea name="note"></textarea>
	<input type="submit" value="add comment">
</form>
</section>
