<a href="http://sivers.org/"><img src="/css/DerekSivers-20141119-200.jpg"></a>
<p>
<%= @t.about1 %>
</p><p>
<%= @t.about2 %>
</p><p>
<%= @t.about3 %>
</p><p>
<%= @t.about4 %>
</p><p>
<%= @t.about5 % ['<a href="https://groups.yahoo.com/neo/groups/musicthoughts/info">', '</a>'] %>
</p><p>
<%= @t.about6 %>
</p><p>
<%= @t.about7 % ['<a href="http://sivers.org/#follow">', '</a>'] %>
</p><p>
<%= @t.about8 % ['<a href="http://sivers.org/">', '</a>'] %>
</p>

