<ul id="homenav">
	<li><a href="/new"><%= @t.new %></a></li>
	<li><a href="/authors"><%= @t.authors %></a></li>
	<li><a href="/contributors"><%= @t.contributors %></a></li>
	<li><a href="/t/<%= @rand_id2 %>"><%= @t.random_thought %></a></li>
	<li><a href="/search"><%= @t.search %></a></li>
</ul>
