<h1><%=h @pagetitle %></h1>
<% if @question[:answers] %>
	<h2>Research:</h2>
	<ul class="answers">
	<% @question[:answers].each do |answer| %>
		<li id="answer-<%= answer[:id] %>">
			<time><%= answer[:date] %></time>
			<p><%= h(answer[:answer]).gsub("\n", '<br>') %></p>
			<% if String(answer[:sources]).size > 0 %>
			<cite>Source: <%=h answer[:sources] %></cite>
			<% end %>
			<div><cite>Researcher: <%=h answer[:researcher][:name] %></cite></div>
			<hr>
		</li>
	<% end %>
	</ul>
<% end %>
<h2>Essays:</h2>
<ul class="essays">
<% @question[:essays].each do |essay| %>
	<li id="essay-<%= essay[:id] %>">
		<time><%= essay[:date] %></time>
		<p><%= Kramdown::Document.new(essay[:essay]).to_html %></p>
		<% unless @question[:template_id] == 0 %>
			<% if essay[:writer] %>
			<div><cite>Writer: <%=h essay[:writer][:name] %></cite></div>
			<% end %>
			<% if essay[:editor] %>
			<div><cite>Editor: <%=h essay[:editor][:name] %></cite></div>
			<% end %>
		<% end %>
		<hr>
	</li>
<% end %>
</ul>

