<h1><%=h @template[:question] %></h1>
<% @template[:countries].each do |country| %>
	<h2><a href="/question/<%= country[:id] %>"><%= @country_name[country[:country]] %></a>: <%=h country[:question] %></h2>
	<h3>Essays:</h3>
	<ul class="essays">
	<% country[:essays].each do |essay| %>
		<li id="essay-<%= essay[:id] %>">
			<time><%= essay[:date] %></time>
			<p><%= Kramdown::Document.new(essay[:essay]).to_html %></p>
			<% unless @template[:id] == 0 %>
				<% if essay[:writer] %>
				<div><cite>Writer: <%=h essay[:writer][:name] %></cite></div>
				<% end %>
				<% if essay[:editor] %>
				<div><cite>Editor: <%=h essay[:editor][:name] %></cite></div>
				<% end %>
			<% end %>
			<hr>
		</li>
	<% end %>
	</ul>
<% end %>

