<h1><%= t.search %></h1>

<form action="/search" method="get">
<label for="q"><%= t.search_intro %></label>
<input type="text" id="q" name="q" value="" size="10">
<input type="submit" name="search" class="button" value="<%= t.search %>">
</form>

<% if @results %>

<% if @results[:categories] %>
<h2><%= t.categories %></h2>
<ul class="linklist">
<% @results[:categories].each do |x| %>
	<li><a href="/cat/<%= x[:id] %>"><%=h x[:category] %></a></li>
<% end %>
</ul>
<% end %>

<% if @results[:authors] %>
<h2><%= t.authors %></h2>
<ul class="linklist">
<% @results[:authors].each do |x| %>
	<li><a href="/author/<%= x[:id] %>"><%=h x[:name] %></a></li>
<% end %>
</ul>
<% end %>

<% if @results[:contributors] %>
<h2><%= t.contributors %></h2>
<ul class="linklist">
<% @results[:contributors].each do |x| %>
	<li><a href="/contributor/<%= x[:id] %>"><%=h x[:name] %></a></li>
<% end %>
</ul>
<% end %>

<% if @results[:thoughts] %>
<h2><%= t.musicthoughts %></h2>
<ul>
<% @results[:thoughts].each do |thought| %>
	<li><%= erb(:_thought, {locals: {thought: thought}, layout: false}) %></li>
<% end %>
</ul>
<% end %>

<% end %>
