<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title><%=h @person['name'] %> : Now Now Now profile</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:100,400,600,800" rel="stylesheet" type="text/css">
<style type="text/css">
body { font-family: "Open Sans", sans-serif; font-size: 20px; padding: 0 5px; line-height: 1.6em; }
section#content { margin: 0 auto; max-width: 40em; }
a {color: #5337DC;}
li a:visited {color: #9C9C9C;}
h1 { color: rgba(0, 0, 0, 0.75); margin-bottom: 15px; font-size: 40px; font-weight: 600 !important; }
h1.name { color: #1f1f1f; font-weight: 100 !important; text-transform: none;}
h2, small { color: #900; }
h3 { font-size: 1.5em; line-height: 1.1em; font-weight: normal; }
h4 { color: #1f1f1f; font-weight: 100 !important; margin-bottom: 15px; font-size: 30px }
small { display: block; line-height: 22px; font-size: 16px; margin-bottom: 30px;}
hr { margin: 4em 0; }
.centered { text-align: left }
.quote { font-size: 20px; line-height: 28px; font-style: italic; padding: 20px 0 0 0;}
ul { margin: 1em 0 0 0; padding: 0; }
li { list-style-type: none; margin-bottom: 1em; }
ul#shuffle li { width: 320px; display: inline-block; vertical-align: top; margin: 0 10px 40px 0; }
div.name, .url, .subtitle { max-width: 300px; }
div.name { font-size: 1.1em; font-weight: bold; }
.subtitle { font-family: sans-serif; font-size: 0.7em; line-height: 1.3em; }
</style>
<meta property="og:title" content="<%=h @person['name'] %>">
<meta name="twitter:title" content="<%=h @person['name'] %>">
<meta property="og:description" content="profile of <%=h @person['name'] %>">
<meta name="twitter:description" content="profile of <%=h @person['name'] %>">
<meta property="og:type" content="website">
<meta property="og:url" content="http://nownownow.com/p/<%= @person['public_id'] %>">
<% if @image -%>
<meta property="og:image" content="<%= @image %>?s=300">
<meta name="twitter:image" content="<%= @image %>?s=600">
<% else -%>
<meta property="og:image" content="http://nownownow.com/images/nowclock.jpg">
<meta name="twitter:image" content="http://nownownow.com/images/nowclock.jpg">
<% end -%>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@nownownow">
<meta name="twitter:creator" content="@nownownow">
</head>
<body>
<section id="content">
<h1>sites with a <a href="/">/now page</a>:</h1>
<small>
Follow <a href="https://twitter.com/NowNowNow">@NowNowNow</a> for updates.
</small>

<% if @image -%>
<img src="<%= @image %>?s=300" width="300" height="300">
<% end -%>

<h1 class="name"><%=h @person['name'] %></h1>

<% @nows.each do |n| -%>
<h2 class="link"><a href="<%= n['long'] %>"><%= n['short'] %></a></h2>
<% end -%>

<div class="quote">“<%= autolink(h(@profile['thought'])) %>”</div>

<h4>Location:</h4>
<p>
<%= @person['city'] %>,
<%= @person['state'] %>
<%= @person['country'] %>
</p>

<h4>Professional title:</h4>
<p>
<%= autolink(h(@profile['title'])) %>
</p>

<h4>What do you do?</h4>
<p>
<%= autolink(h(@profile['liner'])) %>
</p>

<h4>Why?</h4>
<p>
<%= autolink(h(@profile['why'])) %>
</p>

<h4>What should we read?</h4>
<p>
<%= autolink(h(@profile['red'])) %>
</p>

<h4>URLs:</h4>
<ul>
<% @urls.each do |url| -%>
	<li><a href="<%= url %>"><%= url.gsub(/^https?:\/\//, '').gsub(/^www\./, '').gsub(/\/$/, '') %></a></li>
<% end -%>
</ul>

</section>
<hr>
<section id="browse">

<h4>Browse other profiles:</h4>
<ul id="shuffle">
<% @profiles.each do |url| -%>
<li>
<a href="<%= url['public_id'] %>"><img src="/images/300x300.gif" data-echo="http://www.gravatar.com/avatar/<%= url['gravatar'] %>?s=300" width="300" height="300"></a>
<div class="name"><a href="<%= url['public_id'] %>"><%=h url['name'] %></a></div>
<div class="url"><a href="<%= url['long'] %>"><%= url['short'] %></a></div>
<div class="subtitle"><%=h url['subtitle'] %></div>
</li>
<% end -%>
</ul>
<%= @shuffle %>

</section>
<script>
/*! echo.js v1.7.0 | (c) 2015 @toddmotto | https://github.com/toddmotto/echo */
!function(t,e){"function"==typeof define&&define.amd?define(function(){return e(t)}):"object"==typeof exports?module.exports=e:t.echo=e(t)}(this,function(t){"use strict";var e,n,o,r,c,a={},u=function(){},d=function(t){return null===t.offsetParent},i=function(t,e){if(d(t))return!1;var n=t.getBoundingClientRect();return n.right>=e.l&&n.bottom>=e.t&&n.left<=e.r&&n.top<=e.b},l=function(){(r||!n)&&(clearTimeout(n),n=setTimeout(function(){a.render(),n=null},o))};return a.init=function(n){n=n||{};var d=n.offset||0,i=n.offsetVertical||d,f=n.offsetHorizontal||d,s=function(t,e){return parseInt(t||e,10)};e={t:s(n.offsetTop,i),b:s(n.offsetBottom,i),l:s(n.offsetLeft,f),r:s(n.offsetRight,f)},o=s(n.throttle,250),r=n.debounce!==!1,c=!!n.unload,u=n.callback||u,a.render(),document.addEventListener?(t.addEventListener("scroll",l,!1),t.addEventListener("load",l,!1)):(t.attachEvent("onscroll",l),t.attachEvent("onload",l))},a.render=function(){for(var n,o,r=document.querySelectorAll("img[data-echo], [data-echo-background]"),d=r.length,l={l:0-e.l,t:0-e.t,b:(t.innerHeight||document.documentElement.clientHeight)+e.b,r:(t.innerWidth||document.documentElement.clientWidth)+e.r},f=0;d>f;f++)o=r[f],i(o,l)?(c&&o.setAttribute("data-echo-placeholder",o.src),null!==o.getAttribute("data-echo-background")?o.style.backgroundImage="url("+o.getAttribute("data-echo-background")+")":o.src=o.getAttribute("data-echo"),c||(o.removeAttribute("data-echo"),o.removeAttribute("data-echo-background")),u(o,"load")):c&&(n=o.getAttribute("data-echo-placeholder"))&&(null!==o.getAttribute("data-echo-background")?o.style.backgroundImage="url("+n+")":o.src=n,o.removeAttribute("data-echo-placeholder"),u(o,"unload"));d||a.detach()},a.detach=function(){document.removeEventListener?t.removeEventListener("scroll",l):t.detachEvent("onscroll",l),clearTimeout(n)},a});
echo.init({offset: 1000});
</script>
</body>
</html>
