<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Wood Egg QA: <%= @pagetitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/css/login.css" type="text/css" media="screen" />
</head>
<body id="qa">

<div class="navbar"><div class="navbar-inner"><div class="container">
<a class="brand" href="/qa/">Wood Egg login</a>
<ul class="nav">
	<li><a href="/qa/"><%= @researcher.name %>: (<%= @researcher.howmany_unassigned %>)</a></li>
	<li><a href="/qa/answers/unfinished">UNFINISHED: <%= @researcher.answers_unfinished.count %></a></li>
	<li><a href="/qa/answers/finished">Finished: <%= @researcher.answers_finished.count %></a></li>
	<li><a href="/qa/upload">UPLOAD</a></li>
	<li><a href="/qa/help">HELP</a></li>
</ul>   
</div></div></div>

<div class="container">

<%= yield %>

</div>
</body>
</html>
