<img src="<%= @book.cover_url %>" width="200" id="abookpagecover">
<h2><%= @book.short_title %></h2>

<h3>Download the book:</h3>
<ul>
<% @book.filename_hash.each do |fmt, filename| %>
	<li><a href="/a/book/<%= '%s/%s/%s' % [@book.code, fmt, filename] %>"><%= fmt %></a></li>
<% end %>
</ul>

<h3>Click question for all its answers:</h3>
<ul>
<% @book.questions.each do |q| %>
	<li><a href="/a/book/<%= @book.code %>/questions/<%= q.id %>"><%=h q.question %></a></li>
<% end %>
</ul>
