<div class="small-6 columns">
<%= @orig.notes.to_html %>
</div>

<div class="small-6 columns">
<form action="/test_essay/<%= @te.id %>" method="post"><input type="hidden" name="_method" value="put">
	<label for="notes_field">our notes:</label>
	<textarea name="notes" id="notes_field"><%=h @te.notes %></textarea>
	<input type="submit" name="submit" value="update notes">
</form>
</div>

<h4><a href="/question/<%= @q.id %>"><%=h @q.question %></a></h4>

<div class="small-6 columns">
<h3>Original</h3>
<pre>
<%=h @orig.content %>
</pre>
</div>

<div class="small-6 columns">
<h3>Test Essay by <a href="/person/<%= @p.id %>/test_essays"><%= @p.name %></a></h3>
<pre>
<%=h @te.content %>
</pre>
<hr>
<h3>Preview:</h3>
<p>
<%= @html %>
</p>
</div>


